<div class="sightseeing-wrapper">
  <div class="sightseeing-spa-thumbnail">
    <div class="sightseeing-filter">
      <h1 class="sightseeing-logo">温泉</h1>
      <p>日本でも有数の大きさを誇る<br/>宍道湖をはじめ<br/>松江にはたくさんの自然があります<br/>多くの自然と自然と触れあう中で<br/>日頃の疲れを癒してみてはいかがでしょうか</p>
    </div>
  </div>
  <div class="sightseeing-contents"> 
    <div class="sightseeing-content spa1">
      <div class="content-filter">
        <h5>玉造温泉</h5>
        <p>玉造温泉は歴史。規模ともに<br/>山陰を代表する温泉地です<br/>なんと開湯は奈良時代にまで遡ります<br/>また美肌の湯として非常に有名で<br/>お肌のハリはもちろん、<br/>保湿効果も高めてくれます<br/>お肌にも心にも優しい<br/>ひとときを満喫しましょう</p>
      </div>
    </div>
    <div class="sightseeing-content spa2">
      <div class="content-filter">
        <h5>美保館</h5>
        <p>美保関にある老舗旅館です<br/>室町時代から始まっていると言われ<br/>国の重要指定文化財となっている旅館です<br/>日本海の新鮮な魚に舌鼓を打ちつつ<br/>その長い歴史に<br/>包まれてみるのはいかがでしょうか</p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>