<div class="sightseeing-wrapper">
  <div class="sightseeing-history-thumbnail">
    <div class="sightseeing-filter">
      <h1 class="sightseeing-logo">歴史</h1>
      <p>出雲神話をはじめとする<br/>独自の歴史を持つ松江<br/>神話からはじまる深い歴史と<br/>松江城の城下町としての文化が<br/>見事に調和しています<br/>まさに日本の美しさここにあり</p>
    </div>
  </div>
  <div class="sightseeing-contents"> 
    <div class="sightseeing-content history1">
      <div class="content-filter">
        <h5>八重垣神社</h5>
        <p>八重垣神社の歴史はとても古く<br/>出雲神話まで遡ります<br/>スサノオノミコトがクシナダヒメ<br/>を八岐大蛇から守るため<br/>ここで救ったと言われています<br/>また、日本最古の和歌が残されており<br/>水に浮かべるおみくじも特徴的です<br/>悠久の歴史を感じましょう</p>
      </div>
    </div>
    <div class="sightseeing-content history2">
      <div class="content-filter">
        <h5>松江城</h5>
        <p>鴉城と呼ばれ<br/>黒い瓦が特徴の松江城は<br/>国宝指定されている貴重な文化財です<br/>松江市街地を見下ろすように位置しており<br/>天守閣からの眺めは最高です。<br/>また、城内に洋館があり<br/>その中に喫茶店が併設されているので<br/>そちらもおすすめです！</p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>