.top-contents {
  background-image: image-url('header.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  left: 0px;
  position: relative;
  animation: fadeIn 3s linear;
  animation-fill-mode: both;
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.catch-copy {
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.catch-copy h1 {
  display: block;
  position: absolute;
  left: 100px;
  top:175px;
  color:#fdeff2;
  font-size: 45px;
}

.catch-copy-logo {
  font-size: 60px;
  font-weight: bold;
}

.subtitle {
  display: block;
  position: absolute;
  bottom: 100px;
  right: 10px;
  font-size: 25px;
}

.category-wrapper {
  text-align: center;
}

.category-wrapper h2 {
  margin-top:50px ;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  border-bottom :2px solid #c89932 ;
  display: inline-block;
  font-size: 30px;
  margin-bottom: 50px;
}

.category {
  display: flex;
  justify-content:space-around ;
}

.category-list {
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  margin-bottom: 50px;
  height: 300px;
  width: 70vh;
  display: block;
  color: #fdeff2;
  opacity: 0.6;
}

.category-list:hover {
  opacity: 1.0;
  border: 2px solid #c89932;
 }

.food {
  background-image: image-url('food.jpg');
  background-size: cover;
}

.history {
  background-image: image-url('history.jpg');
  background-size: cover;
}

.nature {
  background-image: image-url('nature.jpg');
  background-size: cover;
}

.spa {
  background-image: image-url('spa.jpg');
  background-size: cover;
}

.planing-wrapper {
  text-align: center;

}

.matching {
  background-image: image-url('form.jpg');
  background-size: cover;
  height: 300px;
  width: 100vh;
  margin:0 auto;
  opacity: 0.6;
  margin-bottom:70px ;
  border-radius: 10px;
  display: block;
}

.matching:hover {
  opacity: 1.0;
  border: 2px solid #c89932;
}

.matching-wrapper {
  color: #fdeff2;
  padding-top: 30px;
  margin-bottom: 10px;
}

.matching-logo {
  font-size: 30px;
}

.matching-comment {
  font-size: 20px;
 
}

.category h3 {
  font-size: 30px;
}