<div class="sightseeing-wrapper">
  <div class="sightseeing-nature-thumbnail">
    <div class="sightseeing-filter">
      <h1 class="sightseeing-logo">自然</h1>
      <p>日本でも有数の大きさを誇る<br/>宍道湖をはじめ<br/>松江にはたくさんの自然があります<br/>多くの自然と自然と触れあう中で<br/>日頃の疲れを癒してみてはいかがでしょうか</p>
    </div>
  </div>
  <div class="sightseeing-contents"> 
    <div class="sightseeing-content nature1">
      <div class="content-filter">
        <h5>松江フォーゲルパーク</h5>
        <p>花と鳥を中心としたテーマパークであり<br/>同様のテーマパークとしては<br/>世界有数の規模です<br/>展示温室では１万本以上の花が咲いており<br/>世界最大級の規模となっております<br/>また、直接鳥と触れあうことができる<br/>のも特徴です<br/>鳥や花に囲まれて疲れを癒されましょう</p>
      </div>
    </div>
    <div class="sightseeing-content nature2">
      <div class="content-filter">
        <h5>宍道湖</h5>
        <p>宍道湖は<br/>日本でも有数の大きさを誇る湖です<br/>市街地から眺める景色は美しく<br/>特に夕日の時間（黄昏時）のロケーションは<br/>絶景で<br/>記憶に残ることでしょう</p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>