<div class="branch-filter">
  <div class="branch">
    <div class="branch-wrapper">
      <table class="table-main">
      <tr class="table-logo">
          <th class="logo" colspan="3">日帰り</th> 
        </tr>
      <tr class="table-logo">
        <th class="logo">時間</th> <th class="logo">場所</th> <th class="logo">ポイント</th>
      </tr>
      <tr>
        <th>9:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>10:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>11:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>12:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>13:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>14:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>15:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>16:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>17:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>18:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>19:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>20:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>21:00</th> <th>test</th> <th>test</th>
      </tr>
      <tr>
        <th>22:00</th> <th>test</th> <th>test</th>
      </tr>
    </div>
  </div>
