<div class="sightseeing-wrapper">
  <div class="sightseeing-food-thumbnail">
    <div class="sightseeing-filter">
      <h1 class="sightseeing-logo">食</h1>
      <p>日本海の荒波で育った鮮魚をはじめ<br/>松江には日本酒やおでんなど<br/>雪国ならではの食文化が根付いています<br/>また、城下町としての<br/>和菓子やお抹茶の文化も健在しています<br/>是非一度,ご賞味あれ</p>
    </div>
  </div>
  <div class="sightseeing-contents"> 
    <div class="sightseeing-content food1">
      <div class="content-filter">
        <h5>日本海の魚</h5>
        <p>日本海近郊で獲れた魚は<br/>鮮度が抜群はもちろんのこと<br/>身が引き締まっており<br/>程よい弾力と旨みが<br/>口の中に広がります！<br/>サバ・のどぐろは特におすすめで<br/>松江に来たら外せない一品<br/>と言えるでしょう</p>
      </div>
    </div>
    <div class="sightseeing-content food2">
      <div class="content-filter">
        <h5>日本酒</h5>
        <p>神話をはじめ深い歴史を持つ出雲国では<br/>古くから日本酒が親しまれています<br/>一説では日本酒発祥の地と言われ<br/>その歴史はなんと弥生時代まで遡ります<br/>長い歴史を持つ出雲国の日本酒の特徴は<br/>全体的に辛口が多く脂の乗った魚との<br/>相性抜群です！<br/>長い歴史が積み上げたロマンを<br/>是非、感じてみてください！</p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>