body {
  background-color: #494a41;
  color: #fdeff2;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

a {
  text-decoration:none; 
}

footer {
  background-image: url("header.jpg");
  background-size: cover;
  height: 100px;
  width: 100vw;
}

.footer-wrapper {
  background-color: rgba(0, 0,0, 0.2);
  height: 100px;
  position: relative;
}

.footer-catch {
  position: absolute;
  top:1px;
  left: 25px;
  font-size: 25px;
}

.user {
  display: block;
  font-size: 25px;
  color: #fdeff2;
}

.user:hover {
  font-size: 35px;
}
.account {
  display: flex;
  position: absolute;
  right: 25px;
  bottom: 10px;
}

.footer-new-account {
  padding-left: 50px;
}