<div class='main'>
  <div class="top-contents">
    <div class="catch-copy">
      <h1>ようこそ、<span class="catch-copy-logo">松江</span>へ</h1>
      <div class="subtitle">
        <p>さぁ行こう。明日はきっといい日になる。</p>
        </div>
    </div>
  </div>
  <div class="second-contents">
    <div class="category-wrapper">
      <h2>松江の魅力</h2>
      <div class="category">
        <a href="#" class="category-list food">
          <div class="black-filter">
          <h3>食</h3>
          <p>test</p>
          </div>
        </a>
        <a href="#" class="category-list history">
          <div class="black-filter">
          <h3>歴史</h3>
          <p>test</p>
          </div>
        </a>
      </div>
      <div class="category">
        <a href="#" class="category-list nature">
          <div class="black-filter">
          <h3>自然</h3>
          <p>test</p>
          </div>
        </a>
        <a href="#" class="category-list spa">
          <div class="black-filter">
          <h3>温泉</h3>
          <p>test</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="third-contents">
    <div class="planing-wrapper">
      <h2>松江旅行プラン</h2>
      <a href="#" class="matching">
        <div class="matching-wrapper">
          <h3 class="matching-logo">松江旅行プラン無料実施中!<h3>
          <p class="matching-comment">クリックして松江の旅行プランを立てよう！</p>
        </div>
      </a>
    </div>
  </div>
</div>

